.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  // .menu-item-content {
  //   display: flex;
  //   align-items: center;
  //   width: 100%;  /* Ensure the content takes the full available width */
  //   border-bottom: 1px solid #ccc;
  //   padding: 0 10px;  /* Add padding to create space within the content */
  // }

  .menu-item-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
  }

  .button-item-content{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
  }

  .item-img {
    margin-right: 20px; 
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 5px;
  }

  .item-name {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 20px;  /* Add margin for spacing */
  }

  .item-price {
    font-size: 1rem;
    font-weight: 550;
    text-align: right;
    white-space: nowrap;
    margin-left: auto;
  }

  .delete-item-button {
    margin-left: 20px;
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
      background-color: #c0392b;
    }
  }

  @media (max-width: 768px) {
    .menu-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      

    .menu-item-content {
      padding: 0 8px; 
      max-width: 100vw;
      
    }

    .item-img {
      margin-right: 15px;
      width: 40px;
      height: 40px;
    }

    .item-name {
      font-size: 14px;
      margin-right: 15px;
    }

    .item-price {
      font-size: 14px;
    }

    .delete-item-button {
      margin-left: 15px;
      padding: 5px 8px;
      font-size: 12px;
    }
  }

  @media (max-width: 576px) {
    .menu-item-content {
      padding: 0; 
      width: 300px;
    }

    .item-img {
      margin-right: 10px;
      width: 35px;
      height: 35px;
    }

    .item-name {
      font-size: 13px;
      margin-right: 0;
    }

    .item-price {
      font-size: 13px;
    }

    .delete-item-button {
      margin-left: 10px;
      padding: 4px 6px;
      font-size: 11px;
    }
  }
  }
}
