.checkout-container {
  width: 35%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 15px;
  border: 1px solid #e0e0e0;
}

.checkout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.total {
  margin-top: 10px;
  font-size: 17px;
  text-align: right;
}
