.rest-footer {
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.info-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px; 
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.info-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon {
    color: #333;
}

.divider {
    width: 50%; 
    margin: 20px auto; 
    border: 0;
    border-top: 1px solid #ddd;
}

.copyright-section {
    display: grid;
    row-gap: 20px;
    font-size: 16px;
    color: #777;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .info-section {
        gap: 10px; 
    }

    .divider {
        width: 70%; 
    }

    .copyright-section {
        font-size: 14px; 
    }
}

@media (max-width: 480px) {
    .info-section {
        flex-direction: column; 
        gap: 15px; 
        font-size: 13px;
    }

    .divider {
        width: 80%;
    }

    .copyright-section {
        font-size: 12px; 
    }
}
