.footer {
  background-color: #f8f8f8;
  padding: 20px 0;
  text-align: center;

  .divider {
    width: 60%;
    height: 2px;
    background-color: #ddd;
    margin: 0 auto 20px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-section {
      flex: 1;
      min-width: 250px;
      padding: 10px;

      h4 {
        font-size: 1.2rem;
        margin-bottom: 15px;
      }

      .icons {
        display: flex;
        justify-content: center;

        .icon {
          font-size: 1.5rem;
          margin: 0 10px;
          color: #555;
          transition: color 0.3s ease;

          &:hover {
            color: #000;
          }
        }
      }
    }

    .footer-logo {
      flex: 1;
      min-width: 250px;
      padding: 10px;

      img {
        max-width: 150px;
        margin: 0 auto;
      }
    }
  }
}
  @media (max-width: 768px) {
    .footer {
      background-color: #f8f8f8;
      padding: 10px 0;
      text-align: center;
    
      .divider {
        display: none;
      }
    
      .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .footer-section {
          flex: 1;
          min-width: 0;
          padding: 5px;
    
          h4 {
            font-size: 0.8rem;
            margin-bottom: 0;
          }
    
          .icons {
            display: flex;
            justify-content:space-between;
    
            .icon {
              font-size: 1rem;
              margin: 2px;
              color: #555;
              transition: color 0.3s ease;
    
              &:hover {
                color: #000;
              }
            }
          }
        }
    
        .footer-logo {
          flex:none;
          min-width: 50px;
          padding: 5px;
          align-items: center;
    
          img {
            max-width: 100px;
            margin: 0 auto;
          }
        }
      }}}    